* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Caudex', serif;

}
:root {
    background-color: rgb(0, 0, 0);
}



    .firstscreen {
        height: 100vh;
        width: 100vw;
        background-color: #cad1d5;
        display: flex;
        justify-content: center;
        align-items: center;
        // position: absolute;
        position: fixed;
        // bottom: 0;
        z-index: 1000;
        overflow-y: hidden;

        // border-bottom-left-radius: 50% 20px; /* Adjust the negative value to control the inward curve */
        // border-bottom-right-radius: 50% 20px;

        h1 {
            margin-top: -5rem;
            color: rgb(14, 13, 13);

        }
        .innerbox {
            width: 100vw;
            height: 20rem;
            position: absolute;
            top: 93%;
            background-color: rgb(14, 13, 13);
            border-top-left-radius: 50% 20px;
            border-top-right-radius: 50% 20px;


        }
    }
    
     .mainveil {
        width: 100vw;
        height: 130vh;
        margin-top: -7rem;
        border: #2d2a2d;
    
        position: fixed;
        top: 6rem;
        z-index: 2;
        background-color: hsla(0, 0%, 0%, 0.715);
        backdrop-filter: blur(1px); 
        opacity: 0;    
    
        visibility: hidden;
    
        &.is-expanded {
            visibility: visible;
        opacity: 1;    
        transition: opacity 0.15s;
            
    
        }
    }
    
    .headercontainer {
        // margin-top: 4rem;
        position: sticky;
        top: 0;
        z-index: 20;
        overflow-x: hidden;
        width: 100vw;
        transition: all 0.25s ease-in;


            
        &.ishidingheader {
    
            transform: translateY(-6rem);
            transition: all 0.25s ease-in;
        }
    
        .header {
            padding-left: 0.6rem;
            height: 6rem;
            width: 100%;
            display: flex;
            overflow-x: hidden;
    
            align-items: center;
            justify-content: space-between;
            background-color: rgb(14, 13, 13);
            transition: all 0.25s ease-in;
            transition: background-color 0s ease-in;

            // &.is-expanded {
            //     background-color: rgb(160, 160, 140);
            //     transition: opacity 0s ease-in;
            //     border-bottom: solid rgba(0, 0, 0, 0.331);

            //     h1 {
            //         color: rgb(0, 0, 0);

            //     }

            // }
    
            .logo {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                width: 4rem;
                height: auto;
                font-size: 20px;
    
    
    
                img {
    
                    width: 100%;
                    height: 100%;
                }
    
    
            }
            .name {

                height: auto;
                font-size: 10px;
                letter-spacing: 0.2rem;

    
    
    
                img {
                    // border: solid;
                    width: 100%;
                    height: 100%;
                }
    
    
            }
            h1 {
                color: rgba(255, 255, 255, 0.413);
                margin-left: 1rem;
            }
    
            .hamburger {
                // border: solid;
                position: relative;
                z-index: 20;

                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                justify-content: center;
                background-color: none;
                align-items: center;
                cursor: pointer;
    
                width: 4rem;
    
                height: 3rem;
     
    
        
                .bar {
                    width: 20px;
                    height: 2px;
                    background-color: rgb(202, 196, 196);


                    transition: transform 0.3s, opacity 0.3s;
                  }
                &.is-active {
                    
                    .bar:nth-child(1) {
                        background-color: rgb(202, 196, 196);

                        transform: translateY(8px) rotate(45deg);
                      }
                    .bar:nth-child(2) {
                        background-color: rgb(202, 196, 196);

                        opacity: 0; }
                    .bar:nth-child(3) {
                        background-color: rgb(202, 196, 196);

                        transform: translateY(-6px) rotate(-45deg);
                    }
    
                }
            }

    
        }
    
        
    }

    // dont forget to translate this out of the way
    .menuslide {
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 19;
        transform: translateX(-125%);
        transition: transform 0.4s cubic-bezier(0.36, 0.66, 0.04, 1), opacity 0.5s;


        
    &.is-expanded {
        transition: transform 0.4s cubic-bezier(0.36, 0.66, 0.04, 1), opacity 0.5s;

        transform: translateX(0%);


    }



        height: 95vh;
        // border: solid red;

        .topmenuslide {
            background-color: rgb(160, 160, 140);
            width: 100%;
            // transform: translateX(-100%);
            height: 75%;
            // opacity: 0;
            padding-top: 6rem;
            padding-left: 1.5rem;
            border-radius: 0.6rem;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            overflow-y: hidden;
            z-index: 19;
            transition: transform 0.4s cubic-bezier(0.36, 0.66, 0.04, 1), opacity 0.5s;
    
            &.is-expanded {
                transition: transform 0.4s cubic-bezier(0.36, 0.66, 0.04, 1);
                overflow-y: auto;
                // transform: translateX(0%);
                opacity: 1;

            }
    
            
            div {
                border-bottom: solid 0.2px #f8a9d13c;
                
                width: 90%;
                height: 3rem;
                display: flex;
                align-items: center;
                
                .menuitem {                
                    width: 100%;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    
                    
                    h3 {
                        font-size: 25px;
                        font-weight: 500;
                        // border: solid;
                        width: 100%;
                        color: #000000;
            
                    } //styling for each menulist item
                }
            }
            
        }


        .bottommenuslide {
            // top: 71%;
            // bottom: 7rem;
            background-color: rgb(75, 86, 72);
            padding-left: 1.5rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            border-radius: 0.6rem;

            overflow-y: hidden;
            z-index: 19;
            width: 100%;
            transform: translateX(250%);
            height: 20%;
            transition: transform 0.5s cubic-bezier(0.36, 0.66, 0.04, 1), opacity 0.5s;



            &.is-expanded {
                transition: transform 0.5s cubic-bezier(0.36, 0.66, 0.04, 1);
                overflow-y: auto;
                transform: translateX(0%);
                opacity: 1;

            }
    


        }
    }

    .routersection {

  


        &.is-expanded {
            height: 100vh;
            overflow: hidden;        
    
    
        }
    }


 

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        height: 40rem;
        padding-top: 2rem;
        // border: solid red;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: rgba(10, 10, 10, 0.993);

        width: 100vw;
        &.is-expanded {
            position: fixed;
            
    
    
        }

        .logoandnav {
            display: flex;
            justify-content: space-between;

            // border: solid;


            .logoname {
                display: flex;
    
                // border: solid;
                flex-direction: column;
                // align-items: center;
    
                gap: 0.5rem;
                width: 4rem;
                // height: auto;
    
    
    
                .img1 {
                    // border: solid;
                    width: 4rem;
                    height: auto;
                    
                }
                .img2 {
                    // border: solid;
                    width: 8.5rem;
                    height: auto;
                }
    
    
            }
    
            .nav {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;
    
                .navitem {
    
                    
                    a {
                        
                        border-bottom: solid 1px #f8a9d1;
                        color: #ffffff;
                    }
    
                }
    
                .socials {
                    display: flex;
                    gap: 0.6rem;
        
                    svg {
                        fill: #ffffff;
        
                    }
        
                }
            }
        }



        .rights {
            background-color: rgba(10, 10, 10, 0.993);
            color: #ffffff;
            display: flex;
            justify-content: center;
            padding: 0.5rem;

        }
    }